@using AspNetCore.Constants
@model AspNetCore.Models.MoviesModel

<h2>@Model.Title</h2>
<div id="movies-drop-down">
    @Html.Partial("_MoviesDropDown",Model)
</div>
<div id="list-of-movies">
    @Html.Partial("_ListOfMovies",Model)
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this perfect movie? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>
<style>
    .grid-striped .row:nth-of-type(odd) {
        background-color: rgba(0,0,0,.05);
    }
    .btn-ok {
        color: white !important;
    }
</style>
@section Scripts{
    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) {
            //$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            var data = $(e.relatedTarget).data();
            $('.btn-ok', this).data('id', data.id);
            $('.btn-ok', this).data('href', data.href);
        });
        $('#confirm-delete').on('click', '.btn-ok', function(e) {
            var $modalDiv = $(e.delegateTarget);
            var id = $(this).data('id');
            var url = $(this).data('href');
            $.post(url, { id: id }) 
                .done(function (response) {
                    var chunks = processMultipleAjaxResponse(response);
                    $("#list-of-movies").html(chunks[0]);
                    $("#movies-drop-down").html(chunks[1]);
                    $modalDiv.modal('hide');
                })
                .fail(function(xhr, status, error) {
                    if (xhr.status == 401) {
                        window.location.href = "/Account/Login?ReturnUrl=" + window.location.pathname;
                    }
                });
        }); 
        processMultipleAjaxResponse = function(response) {
            var chunkSeparator = "---|||---";
            var tokens = response.split(chunkSeparator); 
            return tokens;
        };

    </script> 
}
