@model Movie
<div class="col-3">
    <div class="card bg-white mb-3" style="max-width: 18rem; min-width: 120px;">
        <div class="card-header">@Model.Name</div>
        <div class="card-body">
            <h5 class="card-title">Votes</h5>
            <p class="card-text"><span class="badge badge-info">@Model.Id</span></p>
        </div>
    </div>
</div>