@page
@model AspNetCore.Pages.Test

@{
    Layout = null;
    var title = "Hello, World!";
}

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
</head>
<body>
<div>
    Some text from @title
</div>
</body>
</html>